.popup__profile.popup_condition_opened {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 0.5s linear;
}

.popup__cards.popup_condition_opened {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 0.5s linear;
}

.popup__image.popup_condition_opened {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 0.5s linear;
}