.element__like-counter {
    color: #000000;
    width: 10px;
    height: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    margin: 3px 0 0;
}