.profile__edit-button {
    margin: 15px 0 0 18px;
    transition: opacity .3s linear;
    border: none;
    background-color: black;
    box-sizing: content-box;
    max-width: 24px;
    max-height: 24px;
    padding: 0;
    width: 24px;
    height: 24px;
}

.profile__edit-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin: 9px 0 0;
    }
}