@import url(__avatar/profile__avatar.css);
@import url(__info/profile__info.css);
@import url(__add-button/profile__add-button.css);
@import url(__first-row/profile__first-row.css);

.profile {
    min-width: 320px;
    max-width: 880px;
    margin: 40px auto 0;
    color: white;
    display: flex;
}

@media screen and (max-width: 768px) {
    .profile {
        flex-direction: column;
        margin: 40px auto 0;
        align-items: center;
    }
}

@media screen and (max-width: 320px) {
    .profile {
        flex-direction: column;
        margin: 38px auto 0;
    }
}