.popup_profile.popup_condition_opened {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 0.2s linear;
}

.popup_cards.popup_condition_opened {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 0.2s linear;
}

.popup_image.popup_condition_opened {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 0.2s linear;
}

.popup_delete.popup_condition_opened {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 0.2s linear;
}

.popup_avatar-edit.popup_condition_opened {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 0.2s linear;
}