.profile__add-button {
    align-self: center;
    margin-left: auto;
    width: 150px;
    height: 50px;
    background-image: url("../../../images/profile/add-button_x.svg");
    transition: opacity .3s linear;
    background-color: black;
    border: 3px white solid;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;

}

.profile__add-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 880px) {
    .profile__add-button {
        margin-right: 20px;
    }
}

@media screen and (max-width: 768px) {
    .profile__add-button {
        margin: 36px auto 0;
        width: 282px;
        background-image: url("../../../images/profile/add-buttonMob.svg");
    }
}

@media screen and (max-width: 320px) {
    .profile__add-button {
        margin: 32px auto 0;
        width: 282px;
        background-image: url("../../../images/profile/add-buttonMob.svg");
    }
}