@import url(../__fullsize-image/popup__fullsize-image.css);

.popup_image .popup__container {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    background: none;
    width: initial;
    border-radius: 10px;
    padding: 0;
    box-shadow: 0 0 0;
    box-sizing: initial;
}
